{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row my-5" >
        {% for message in messages %}
        {% for user in users %}
          <div class="card">
              {% if user.id == message.sender_id %}
              <div class="card-body">
              <h5 class="card-title">{{user.username}}</h5>
              <p class="card-text">{{message.msg}}</p>
              <p class="card-text">{{message.date}}</p>
              <a href="#" class="btn btn-primary">Read</a>
            </div>
            {% endif %}
        </div>
        {% endfor %}
        {% endfor %}
    </div>
</div>

{% endblock %}